cscope.*
*.out
tags
taghl_config.txt
*.taghl
*.r51
*.pbi
*.i
*.map
*.pbd
*.browse
*.cout
*.dep
*.wsdt
*.tmp
*.sfr
*.dni
*.dbgdt
*.ewd
*.hex
*.sim
*.bin
*.pdf
*.uvopt
*.bak
*._ip
settings
Exe
List
Obj
Backup
backup
TMP
tmp
*.bz2
*.gz
*.tar
*.zip
*.rar
*.wav
*.mp3
*.IAB
*.IAD
*.IMB
*.IMD
*.PFI
*.PO
*.PR
*.PRI
*.PS
*.SearchResults
*.WK3
.tags*
*.log
*.csv
docbook
latex
html
rtf
build_info
Resource
~$*
